{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <head>
    <style>
        .about-main{
            padding: 10px;
        }
        .about-main h2{
            padding: 10px;
        }
        .about-main h4{
            padding-bottom:10px;
        }
        .about-main p{
            text-align: justify;
            padding-bottom:20px;
            line-height: 25px;
            /* margin-left: 20px; */
            margin: auto;
            width: 800px;
        }
        #cen{
            text-align: center;
            margin: auto;
        }
    </style>
        </head>
    <body>

        <div class="about-main">
            <div id= "cen">
                <h2>K.L.E Technological University</h2>
                <h4>(Vidya nagar, Hubli)</h4>
                <p>
                  School of Computer Science and Engineering (SoCSE) offers graduate, post graduate and doctoral
                  degree programs. The school provides a student centric learning environment with well equipped
                  lab spaces, studio mode classrooms and smart classrooms. The vibrant learning environment is
                  supported by large gathering areas for open houses, department seminars and discussion forums.

                  The school is making  multiyear efforts significantly expanding and building collaborations
                  with  industry and academic institutions for teaching learning and research.

                  The curriculum is well designed by Board of Studies (BoS) constituted of experts from academia
                  and industry. The curriculum encompasses core computer science courses and facilitates
                  experiential learning. Few courses are co-designed and co-delivered by experts from the
                  industry. The curriculum structure provides opportunity for students to enhance the research
                  skills by providing research based REU/IRP courses and Minor program for interdisciplinary
                  learning. The structure also gives space for developing entrepreneurial skills, by offering
                  projects at  Center for Technology Innovation and Entrepreneurship (CTIE).


                </p>
                <p>
                  The school has well experienced faculty with expertise in the areas of Data Engineering, System
                  Engineering and Network Engineering. SoCSE is a hub of activities in the areas Artificial
                  Intelligence (AI) and Data Analytics, High Performance Computing (HPC) and Cloud Computing and
                  Networking. To enhance the research eco system, state of the art research infrastructure in the
                  above areas has been setup.

                  Co-curricular and extracurricular activities are conducted by the school to enhance interpersonal
                  and leadership qualities. Students have participated in various national and state level events
                  including KPIT Sparkle, Bosch INSCRIBE, Accenture Innovation Jockeys, and ACM International Collegiate
                  Programming Contest (ICPC) for successive years and have won many accolades.

                  SoCSE has been regularly hosting hackathons including ‘Smart India Hackathon’ of MHRD and AICTE since
                  three years. Apart from this hackathons from industries like Samsung R&D, Juniper Network and INSZoom
                  are conducted regaularly. This has enabled students to excel in various national and international
                  level competitions. This has also resulted in students getting high package offers. The school has
                  produced quality professionals who are holding responsible positions and have added value to the IT
                  industry across the globe. The school has good placement record with offers  from companies like
                  Microsoft, Samsung, Walmart, Juniper, AWS, Akamai, SAP, Sony, Informatica, etc..
                </p>
            </div>
        </div>
       
</body>
</html>
{% endblock content %}