{% extends "home/base.html" %}
{% load static %}
{% block content %}
    <body>
   
    <div style="height:50px;"><marquee style="padding:15px; color:rgb(47, 48, 47);">Online course will be provided shortly for networking students</marquee></div>
    <div class="course">
        <div class="courseleft">
            <h2 class="courseh2-heading" id="courseh2">Graduation Course</h2>
            <h3 class="courseh3-heading">B.E</h3>
            <ul class="courseul">
                <li class="courseli"><a href="admission.html">Information Science</a></li>
                <li class="courseli"><a href="admission.html">Data engineering</a></li>
                <li class="courseli"><a href="admission.html">Network engineering</a></li>
                <li class="courseli"><a href="admission.html">System engineering</a></li>
                <li class="courseli"><a href="admission.html">Mathmatics</a></li>
            </ul>
        </div>
        <div class="courseright">
            <h2 class="courseh2-heading">Post Graduation Course</h2>
            <h3 class="courseh3-heading">M.E</h3>
            <ul class="courseul">
                <li class="courseli"><a href="admission.html">Information Science</a></li>
                <li class="courseli"><a href="admission.html">Machine Learning</a></li>
                <li class="courseli"><a href="admission.html">Computer vision</a></li>
                <li class="courseli"><a href="admission.html">Web Technology</a></li>
                <li class="courseli"><a href="admission.html">Big Data</a></li>
            </ul>
        </div>
   
    <div class="course-container">
        <h1 >COURSE CONTENTS</h1>
        <div id="paper">
            <i class="fa fa-book"></i>
        </div>
        <div class="course-para">
        <p>
            <h4>B.E(Bachelor of Engineering)</h4>
            The core curriculum in education at B.Ed. levels encompasses philosophical,
            psychological, sociological and political aspects which form the foundation
            for developing the mental-set with regard to pedagogy. Its relevance in teacher
            education is kept in mind. In psychology of teaching & learning, development
            of the learner, learning, motivation, intelligence, personality and exceptional
            children form part of the core curriculum. Psychological tests and case studies
            provide a practical basis to the study of psychology of teaching & learning.
            It is a two year duration academic programme encompassing the philosophical,
            psychological, sociological and political aspects which form the foundation
            for developing the mental-set with regard to pedagogy in Teaching-Learning
            process.
        </p>
    </div>
    <div id="paper">
            <i class="fa fa-wpforms"></i>
        </div>
    <div class="course-para">
        <p>
            <h4>Eligibility for Admission</h4>
            B.E: applicants must have passed PUC (Class 12) with at least 45% of marks.
            The applicants must have studied Class 12 with Mathematics, Physics and
            Chemistry/ Biotechnology/ Biology/ Computer Science as the main subjects.
            The applicants must have a valid KCET or COMEDK UGET or JEE Main score
            to secure B.
            M.E: Candidate must have obtained minimum aggregate of 50% marks taken
            together in all subjects in all years of degree exam.
            GATE Scores: Candidates can apply for admission into M.E/ M.
        </p>
    </div>
    <div id="paper">
            <i class="fa fa-graduation-cap"></i>
        </div>
    <div class="course-para">
        <p>
            <h4>Courses in Brief</h4>
            1. Data engineering. <br>
            2. Network engineering. <br>
            3. System engineering. <br>
            4. Information Science<br>
           <strong> NOTE: </strong><i>Approved by UGC & AICTE | CET CODE : E30 & E241, COMED-K CODE : E016</i>
        </p>
    </div>
    </div>
   
</body>

{% endblock content %}